<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul class="social-icons">
            <li>
              <a href="https://medium.com/@mrjimbot" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/jamesjimkim" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/jimmy-james" target="_blank"><i class="fa fa-github"></i></a>
            </li>
            <li>
              <a href="https://angel.co/james-kim-01" target="_blank"><i class="fa fa-angellist"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="contact-box" class="row">
    <div class="col-md-6 col-sm-12">
      <div class="block">
        <h2></h2>
        <ul class="address-block">
          <li>
            <i class="fa fa-envelope-o"></i>Email: mrjimbot@gmail.com
          </li>
        </ul>

      </div>
    </div>
    <div class="col-md-6 col-sm-12">
    </div>
  </div> -->
</footer>
